[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Ww]xs/
[Bb]in/

*.docstates
*.dotCover
*.exe
*.suo
*.user
*.orig
*crunch*

_ReSharper.*

Export_OnPrem/*
!Export_OnPrem/build.proj

Deploy_OnPrem/Package/*

*.nuget

Packages/*
!Packages/repositories.config

*.DotSettings
AccountManagement/Logs/*
AccountManagement/release-notes.*
AccountManagement/registry_config.txt
AccountManagement/app_config.txt
.vs/

Export_AWS/**
!Export_AWS/build.proj
Pack/choco/**
!Pack/choco/build.proj
Pack/Package/